body, html {
    margin: 0;  
    padding: 0;  
    overflow: hidden; /* 禁止滚动 */
    height: 100%; /* 让 body 填满整个屏幕 */
}  
video {  
    position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    object-fit: cover; /* 保持视频比例并铺满 */
    z-index: -1; /* 设置视频的 z-index */
}  
.file-input {  
    display: none; /* 隐藏文件输入元素 */  
}  
.picture-word {  
    height: 70px; /* 调整按钮高度 */
    width: 140px; /* 调整按钮宽度 */
    border: none;  
    border-radius: 10px;  
    color: white;  
    font-size: 28px;  
    cursor: pointer;  
    position: absolute;  
    left: 80%;  
    top: 80%;  
    transform: translate(-50%, -50%); /* 垂直和水平居中 */
} 
 /*图片  */
.buttonword{
    position: absolute;  
    top: 30%;  
    left: 50%;  
    transform: translate(-50%, -50%); /* 偏移自身宽高的一半 */  
    width: 100%; /* 如果需要文本宽度与容器相同 */  
    text-align: center; /* 水平居中 */  

}
.spring{
    height: 200px; /* 调整按钮高度 */
    width: 200px; /* 调整按钮宽度 */
    opacity: 0.7; /* 设置透明度，范围是0到1 */
    border-radius: 15px; /* 设置圆角，值越大圆角越明显 */

}

.picture{
    height: 70px; /* 调整按钮高度 */
    width: 180px; /* 调整按钮宽度 */
    border: none;  
    border-radius: 15px;  
    cursor: pointer;  
    position: absolute;  
    left: 25%;
    top: 85%;  
    transform: translate(-50%, -50%); /* 垂直和水平居中 */
    background-color: rgba(209, 209, 209, 0.7);
}
.album{
    height: 70px; /* 调整按钮高度 */
    width: 180px; /* 调整按钮宽度 */
    border: none;  
    border-radius: 15px;  
    cursor: pointer;  
    position: absolute;  
    left: 75%;  
    top: 85%;  
    transform: translate(-50%, -50%); /* 垂直和水平居中 */
    background-color: rgba(209, 209, 209, 0.7);
}
.messageContainer{
    display:none; position:absolute; left: 30%; top:5%; transform:translate(-50%, -50%); text-align:center; color:black;
    background-color: antiquewhite;
    z-index: 1;
    float: left;
}
.icon-shufa {
    width: 3em;
    height: 3em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    z-index: 10; /* 确保图标在最上面 */
    cursor: pointer; /* 添加手型光标 */
}
.icon-huabi {
    width: 2em;
    height: 2em;
    vertical-align: -0.15em;
    fill: black;
    position: absolute;
    overflow: hidden;
    z-index: 10; /* 确保图标在最上面 */
    cursor: pointer; /* 添加手型光标 */
    top: 95%;
    left: 15%;
}
.icon-Halloween- {
    width: 2em;
    height: 2em;
    vertical-align: -0.15em;
    fill: black;
    position: absolute;
    overflow: hidden;
    z-index: 10; /* 确保图标在最上面 */
    cursor: pointer; /* 添加手型光标 */
    top: 95%;
    left: 75%;
}