body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}
.container {
    position: relative;
    font-size: 100px;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s forwards;
    top: -20%;

}
.text {
    position: relative;
    display: block;
    transition: transform 1s, opacity 1s;
}
.move {
    transform: translateY(-15%);
    opacity: 0;
}
@keyframes fadeIn {
    to { opacity: 1; }
}